.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.section__subtitle {
    margin-bottom: 1.875rem;
    text-align: center;
}


.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
    margin-bottom: 1.875rem;
}


.services__card:hover {
    transform: translateY(-10px);
}

 
.services__card.node {
    background-color: rgb(139, 197, 160);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}


.services__card.prisma{
    background-color: rgb(121, 121, 119);
    box-shadow: 0px 5px 20px 0px rgb(222, 188, 76 / 50%);
}


.services__card.golang{
    background-color: rgb(91, 128, 146);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.docker{
    background-color: rgb(114, 153, 179);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.html{
    background-color: rgb(223, 198, 114);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.css{
    background-color: rgb(91, 128, 146);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.react{
    background-color: rgb(142, 214, 250);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.uiux{
    background-color: rgb(179, 179, 183);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.english{
    background-color: rgb(234, 150, 148);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.google{
    background-color: rgb(242, 245, 245);
    color: black;
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__card.communication{
    background-color: rgb(252, 197, 248);
    box-shadow: 0px 5px 20px 0px rgb(27, 148, 81 / 50%);
}


.services__img {
    margin-bottom: 1.25rem;
}


.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #0a0808;
}


.services__description {
    color: #0b0c0e;
}



.star-container {
    display: flex;
    justify-content: center;
  }
  
.star {
    color: #888; 
    font-size: 20px; 
  }
  
.star.filled {
    color: gold; 
  }

